<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by abhinav for ETAOP Pvt. Ltd.
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last Updated on 10/03/22, 1:45 AM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.site_valley.developerhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeveloperHelper"
        tools:replace="android:theme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>